.app-footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  width: 100%;
  border-top: 1px solid black;

  .app-footer-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}
